.scroll-button {
  cursor: pointer;
  font-size: 22px;
  color: $accent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: background-color 0.3s ease;
  bottom: 60px;
}

.scroll-down-button {
  left: 50px;

  @media screen and (max-width: 450px) {
    left: 20px;
  }
}

.scroll-up-button {
  right: 50px;

  @media screen and (max-width: 450px) {
    right: 20px;
  }
}