.scroll-button {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: #36dce4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: background-color 0.3s ease;

  @media screen and (max-width: 450px) {
    width: 25px;
    height: 25px;
  }

  &:hover {
    background-color: #95dfe3;
  }
}

.scroll-down-button {
  bottom: 20px;
  left: 50px;

  @media screen and (max-width: 450px) {
    bottom: 32px;
    left: 30px;
  }
}

.scroll-up-button {
  bottom: 20px;
  right: 50px;

  @media screen and (max-width: 450px) {
    bottom: 32px;
    right: 30px;
  }
}