.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../assets/img/nuage.jpg') center/cover no-repeat;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .my-lien {
    position: absolute;
    bottom: 180px;
    color: $accent;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      position: static;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.projects-page {
  position: relative;

  h2.project-title {
    margin-top: 20px;
    position: absolute;
    top: 100px;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
      position: static;
    }
  }

  @media screen and (max-width: 450px) {
    margin-top: 10px;
  }
}

.project-card {
  position: relative;
  width: 300px;
  height: 450px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: solid #36dce4;
  border-radius: 15px;
  margin: 30px;

  @media screen and (max-width: 768px) {
    margin: 15px;
  }

  @media screen and (max-width: 450px) {
    margin: 0;
    margin-top: 20px;
  }

  &:hover {
    transform: rotateY(180deg);
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $background;
    color: $text;

    img {
      max-width: 90%;
      height: 160px;
      border: solid 1px #95dfe3;
      border-radius: 10px;
      padding: 10px;

      @media screen and (max-width: 450px) {
        height: 150px;
        padding: 7px;
      }
    }

    h3 {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    p {
      text-align: center;
      color: $accent;
      font-size: 20px;
      padding: 5px;
      line-height: 1.5;

      @media screen and (max-width: 450px) {
        font-size: 14px;
        padding: 0;
      }

    }
  }

  .back {
    transform: rotateY(180deg);
    padding: 20px;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: $accent;
    text-decoration: none;
    box-shadow: 0px -1px 12px 5px rgba(34, 230, 239, 0.85);
    border-radius: 5px;
    margin-top: 50px;
    padding: 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}